.IndexContainer {
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
}

.FilterItem {
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}