.ProductCard {
    width: 85%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.ProductImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 10px;
    user-select: none;
}

.ProductColors {
    display: flex;
}